/* @media (min-width:320px) and (max-width:767px) */

@media (min-width:320px) and (max-width:767px){
    /*top bar */
.top-bar{
    display: none;
}
/*header */
header{
    display: none;
}

.header__meadia {
    position: fixed;
    background-color: white;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);

}

.banner{
    background-color:var(--blueColor2);
    flex-direction: column-reverse;
    height: 100%;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.banner  .left__banner .banner__item h1,.banner-media .left__banner .banner__item h1{
    font-size: 2.5rem;
}

.banner .left__banner .banner__item p,.banner-media .left__banner .banner__item p{
    font-size: 1rem;
}

.banner .right__banner .pic1{
    display: none;
}

.banner .right__banner{
    margin-left: 20px;
}

.banner .left__banner{
    margin-left: 20px;
}

.banner .right__banner .pic2{
    display: block;
    margin-top: 50px;

}

.banner .left__banner .banner__item .button__one,.banner-media .left__banner .banner__item .button__one{
    margin-right: 10px;
    margin-bottom: 20px;
}

.banner .left__banner .banner__item .button__two{
    margin-bottom: 20px;
}

.banner .left__banner .banner__item .button__one{
    font-size: 1.2rem;
}

.banner .left__banner .banner__item .button__two{
    font-size: 1.2rem;
}

.section-one {
    height:1400px !important;
    padding: 3rem 0;
}

.section-one .content__section1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;    
}


.section-one .content__section1 .item__section1{
    margin-bottom: 200px;
}

.section-one .content__section1 .item__section1 h3{
    font-size: 1.4rem;
}

.section-one .content__section1 .item__section1 p{
    font-size:1rem ;

}

.courses__content .courses__top{
    padding: 50px 0;
}

.courses__content .courses__top,
.reviews__content .reviews__top,
.instractor__content .instractor__top
{
    text-align: center;
    padding: 50px 0;
}


.courses__content .courses__top h3{
    font-size: 2rem;
}

.courses__content .courses__top p{
    font-size: 1.4rem;
    color: #ffffff80;
}

.reviews__content .reviews__top h3{
    font-size: 2rem;
}

.reviews__content .reviews__top p{
    font-size: 1.4rem;
    color: #ffffff80;
}

.gallery__content .gallery__top h3{
    font-size: 2rem;
}

.gallery__content .gallery__top p{
    font-size: 1.4rem;
    color: #ffffff80;
}

.instractor__content .instractor__top h3{
    font-size: 2rem;
}

.instractor__content .instractor__top p{
    font-size: 1.4rem;
    color: #ffffff80;
}





.courses{
    height: 100%;
}

.instractor{
    height: 100%;
}

.card___section3 .card h5{
    font-size: 1.4rem;

}

.card___section3 .card p{
    font-size: 1rem;
}

.card___section3 .card{
    width: 100%;
    border-radius: 10px 0 0 0;

}

.card___section3 .card img{
    border-radius:0;
}

.card___section3 .card .btn{
    font-size: 1rem;
}

.up-background .slide1_group{
   width: 49%;
}
.courses__content {
    width: 100%;
}

.instractor__content {
    width: 100%;
}

.slide1_4{
    flex-wrap: wrap;
}

.reviews .up-background{
    display: none;
}

.up-background__media{
    display: block;
}


.gallery__content .gallery__bottom .box{
    width: 49%;
    margin-bottom: 2rem;
}

.contact__content{
    width: 100%;
    padding: 5rem 0;
}

.contact__content .contact__top h3{
    font-size: 2rem;
}

.contact__content .contact__top p{
    font-size: 1.4rem;
}

.contact__content .contact__bottom{
    flex-direction: column-reverse;
    height: 100%;
}

.contact__content .contact__bottom .left__side{
    width: 100%;
    margin-bottom: 5rem;
}

.contact__content .contact__bottom .left__side form input{
    font-size: 1.4rem;
}

.contact__content .contact__bottom .right__side{
    width: 100%;
    align-items: center;
    margin-bottom: 10rem;
    overflow: hidden;
}

.contact__content .contact__bottom .right__side .content__part{
    width: 100%;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 30%;

}


.contact__content .contact__bottom .right__side img{
    transform: scale(0.7,0.7);
}

footer{
    height: 100%;
}
footer .content__footer .top__footer .started2{
    font-size: 1.4rem;
    padding:10px 30px ;

}

footer .content__footer .top__footer img{
    transform:scale(0.7,0.7);
}

footer .content__footer .bottom__footer{
    flex-direction: column;
}

footer .content__footer .bottom__footer .left__footer h3{
    font-size: 1.6rem;
}

footer .content__footer .bottom__footer .left__footer p{
    font-size: 1.4rem;
    width: 90%;
}

footer .content__footer .bottom__footer .left__footer .map{
height: 120px;
margin-bottom: 30px;
width: 100%;
}

footer .content__footer .bottom__footer .center__footer .links__footer ul {
    display: flex;
}

footer .content__footer .bottom__footer .center__footer .links__footer ul li{
    margin-right: 20px;
}

footer .content__footer .bottom__footer .center__footer .links__footer ul li a{
    font-size: 1.6rem;
}

footer .content__footer .bottom__footer .center__footer .links__footer h3{
    font-size: 1.6rem;
}

footer .ul4__top{
    display: flex;
}

footer .ul4__top li {
    margin-right:1.6rem;
}

.un__footer{
    height: 50px;

}

.un__footer .copyright{
    font-size: 1.4rem;
}

.un__footer .copyright span{
    font-size: 1.6rem;
}
}


/* @media (min-width:768px) and (max-width:1200px) */

@media (max-width:1200px){
 
    header  .header__center .nav-item:last-child{
        display: none;
    }
    .banner  .left__banner .banner__item h1{
        font-size: 3.2rem;
    }
    .banner .right__banner .pic1{
        width: 350px;
        height: 350px;
    }


    .banner .left__banner .banner__item p,.banner-media .left__banner .banner__item p{
        font-size: 1.6rem;
    }
    header .header__right{
        display: none;
    }
    
    .search__hide{
        display: block;
       }
    .search__hide svg{
        font-size: 2rem;
    }

    .section-one {
        height:1400px !important;
        padding: 3rem 0;
    }
    
    .section-one .content__section1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;    
    }
    
    
    .section-one .content__section1 .item__section1{
        margin-bottom: 200px;
    }
    
    .section-one .content__section1 .item__section1 h3{
        font-size: 1.4rem;
    }
    
    .section-one .content__section1 .item__section1 p{
        font-size:1rem ;
    
    }
    
    
    
    .contact__content{
        width: 100%;
        padding: 5rem 0;
    }    

    .contact__content{
        width: 100%;
        padding: 5rem 0;
    }
    
    .contact__content .contact__top h3{
        font-size: 2rem;
    }
    
    .contact__content .contact__top p{
        font-size: 1.4rem;
    }
    
    .contact__content .contact__bottom{
        flex-direction: column-reverse;
        height: 100%;
    }
    
    .contact__content .contact__bottom .left__side{
        width: 100%;
        margin-bottom: 5rem;
    }
    
    .contact__content .contact__bottom .left__side form input{
        font-size: 1.4rem;
    }
    
    .contact__content .contact__bottom .right__side{
        width: 100%;
        align-items: center;
        margin-bottom: 10rem;
        overflow: hidden;
    }
    
    .contact__content .contact__bottom .right__side .content__part{
        width: 100%;
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-left: 30%;
    
    }
    
    
    .contact__content .contact__bottom .right__side img{
        transform: scale(0.7,0.7);
    }
    

    
    .courses{
        height: 100%;
    }
    
    .instractor{
        height: 100%;
    }
    
    .card___section3 .card h5{
        font-size: 1.4rem;
    
    }
    
    .card___section3 .card p{
        font-size: 1rem;
    }
    
    .card___section3 .card{
        width: 100%;
    
    }
    
    .card___section3 .card .btn{
        font-size: 1rem;
    }
    
    .up-background .slide1_group{
       width: 49%;
    }
    .courses__content {
        width: 100%;
    }
    
    .instractor__content {
        width: 100%;
    }
    
    .slide1_4{
        flex-wrap: wrap;
    }
    
    
footer{
    height: 100%;
}
footer .content__footer .top__footer .started2{
    font-size: 1.4rem;
    padding:10px 30px ;

}

footer .content__footer .top__footer img{
    transform:scale(0.7,0.7);
}

footer .content__footer .bottom__footer{
    flex-direction: column;
    justify-content: flex-start;
}


footer .content__footer .bottom__footer .left__footer h3{
    font-size: 1.6rem;
}

footer .content__footer .bottom__footer .left__footer p{
    font-size: 1.4rem;
    width: 90%;
}

footer .content__footer .bottom__footer .left__footer .map{
height: 120px;
margin-bottom: 30px;

}

footer .content__footer .bottom__footer .center__footer .links__footer ul {
    display: flex;
}

footer .content__footer .bottom__footer .center__footer .links__footer ul li{
    margin-right: 20px;
}

footer .content__footer .bottom__footer .center__footer .links__footer ul li a{
    font-size: 1.6rem;
}

footer .content__footer .bottom__footer .center__footer .links__footer h3{
    font-size: 1.6rem;
}

footer .ul4__top{
    display: flex;
}

footer .ul4__top li {
    margin-right:1.6rem;
}

.un__footer{
    height: 50px;

}

.un__footer .copyright{
    font-size: 1.4rem;
}

.un__footer .copyright span{
    font-size: 1.6rem;
}


    }